// ion-content ion-toolbar {
//   --background: translucent;
// }

.app-title {
  font-size: 4em;
  font-weight: bold;
}

#user-img {
  width: 14em;
  height: 14em;
  border-radius: 50%;
}

.cat-card {
  height: 8em;
}